/* CONTAINER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    background-color: #b91450;
    text-align: center;
}
h1 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#input-box {
    border-radius: 10px;
}
#input-box h4 {
    margin-bottom: 10px;
    color: #ba1f57;
}

#input-box, #ticket {
    background-color: white;
    width: 50%;
    margin-left: 25%;
}
#section-title {
    width: 50%;
    margin-left: 25%;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid black;
}
/* INSERIMENTO DATI */
.inserimento-dati{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.buttons{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
button {
    background-color: #cccccc;
    color: #ba1f57;
    border: 1px solid #a96daa;
    line-height: 30px;
    width: 60px;
    border-radius: 5px;
    font-weight: 600;
}
input, select .inserimento-dati{
    height: 20px;
}
h4 {
    margin-top: 30px;
}
h2 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hidden {
    opacity: 0;
    transition: 0.2s;
}
.show {
    opacity: 1;
    transition: 0.2s;
}
#ticket {
    display: flex;
    font-size: 20px;
    height: 150px;
}
.data {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.data td, th {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nome-passeggero {
    text-align: justify;
    padding: 20px;
    background-color: grey;
    height: 100%;
    width: 20%;
}
#passenger {
    height: 20px;
    width: 100%;
}
